.side-nav-contianer {
  margin: 0 10px;
  display: flex;
  flex-direction: row;

}

.side-nav {
  position: fixed;
  top: 55px;
  left: 0;
  width: 15%;
  padding: 0 10px;
}

.side-nav-content {
    top: 55px;
    width: 100%;
}
.anchor:hover {
    cursor: pointer;
}

.w-100 {
  width: 100%;
}

.mat-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.list-item {
  cursor: pointer !important;
}